@import '../../../../index.scss';

.introduce {
  width: 665px;
  height: 298px;
  background-color: #ffffff;
}
.vector3 {
  border-top: 3px solid $main-light;
  width: 614px;
}
.text-p {
  width: 601px;
  margin-bottom: 5px;
}
p {
  color: #333333;
}
.StarRating {
  margin-bottom: 6px;
}
