@import '../../../../index.scss';

.introduce {
    width: 665px;
    height: 298px;
    background-color: #ffffff;
}
.vector2 {
    border-top: 3px solid $main-light;
    width: 614px;
}
.class-text {
    width: 601px;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; // 行數
    -webkit-box-orient: vertical;
    white-space: normal;
}
p {
    color: #333333;
}
.StarRating {
    margin-bottom: 6px;
}
