@import '../../index.scss';

.engText {
  font-family: 'Noto Serif Display', serif;
}

.cursor-pinter {
  cursor: pointer;
}


.session-bg .vector3 {
  border-top: 3px solid $gary-dark;
  width: 863px;
}

.container2{
  background-color: $main-gary-light;
}

.intro1  {
  background-color: #6A777ACC;
  color:white;
  width: fit-content;
  // top: 0;
  // left:-100px;
  padding: 30px;
  // width:750px;
}
.intro1 p{
  color:white;
}

.intro2 {
  background-color: #767676c7;
  color:white;
  width: fit-content;
  // top: 0;
  // left: 0px;
  padding: 30px;
  // width:750px;
}

.intro2 p{
  color:white;
}

.intro3{
  background-color: #5b322fd7;
  color:white;
  width: fit-content;
  // top: 0;
  // left:-100px;
  padding: 30px;
  // width:750px;
}
.intro3 p{
  color:white;
}

.title1{
  color:$main;
}
.titel2{
  color:$gary-dark
}

.item1{
  color:$main;
}
.item2{
  color: $gary-light;
}
.item3{
  color:$accent;
}
.formitem{
  color: $gary-dark;;
}