@import '../../index.scss';

.engText {
  font-family: 'Noto Serif Display', serif;
}



.vector3 {
  border-top: 3px solid $gary-light;
  border-width: 100%;
}


.container2{
  background-color: $main-gary-light;
}

.intro1  {
  background-color: #6A777ACC;
  width: fit-content;
  padding: 30px;
  
}
.intro1 p {
  color:white;
  margin: 10px auto;
}
.intro1 h6 {
  color:white;
}

.intro2 {
  background-color: #767676c7;
  color:white;
  width: fit-content;
  padding: 30px;
}

.intro2 p{
  color:white;
}
.intro2 h6 {
  color:white;
}

.intro3{
  background-color: #5b322fd7;
  color:white;
  width: fit-content;
  padding: 30px;
}
.intro3 p{
  color:white;
}
.intro3 h6{
  color:white;
}

.title1{
  color:$main;
}
.titel2{
  color:$gary-dark
}

.item1{
  color:$main;
}
.item2{
  color: $gary-light;
}
.item3{
  color:$accent;
}
.formitem{
  color: $gary-dark;;
}


.studioImgDIV{
  //  min-height: 300px;
  //  相片比例
  aspect-ratio: 4 / 3;
}
.studio{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s ;
  object-fit:cover;
  height: 100%;
  width: 100%;
}
.studio.hover{
  opacity: 1;
}

.studioBMinImg{
  display: flex;
  justify-content:end;
}

.studioBtn img{
  width: 60px;
  height: 60px;
}
.studioBtn{
  border: 0;
  // transition: 0.5s;
  // border-radius: 5px;
  box-sizing: border-box;
}
.studioBtn.hover{
  border: 4px solid rgb(77, 166, 255)
}


@media screen and (max-width:1400px) {
  //xxl
}
@media screen and (max-width:1200px) {
  //xl
  .studioImgDIV{
    aspect-ratio: 1 / 1;
  }
}
@media screen and (max-width:992px) {
  //lg
  .place p{
    font-size: 14px;
  }
  .place h6{
    font-size: 16px;
  }
  .intro1,.intro2,.intro3{
    padding: 15px;
  }

}
@media screen and (max-width:768px) {
  //md
  .studioBMinImg{
  display: flex;
  justify-content:start;
  }
  .reservation{
  font-size: 20px;
  margin: 0;
  }
  .studioImgDIV{
    aspect-ratio: 4 / 3;
  }
}
@media screen and (max-width:576px) {
  //sm
}