@import '../../index.scss';

.engText {
  font-family: 'Noto Serif Display', serif;
}




.vector3 {
  border-top: 3px solid $gary-light;
  border-width: 100%;
}


.container2{
  background-color: $main-gary-light;
}

.intro1  {
  background-color: #6A777ACC;
  width: fit-content;
  padding: 30px;
  
}
.intro1 p {
  color:white;
}
.intro1 h6 {
  color:white;
}

.intro2 {
  background-color: #767676c7;
  color:white;
  width: fit-content;
  padding: 30px;
}

.intro2 p{
  color:white;
}
.intro2 h6 {
  color:white;
}

.intro3{
  background-color: #5b322fd7;
  color:white;
  width: fit-content;
  padding: 30px;
}
.intro3 p{
  color:white;
}
.intro3 h6{
  color:white;
}

.title1{
  color:$main;
}
.titel2{
  color:$gary-dark
}

.item1{
  color:$main;
}
.item2{
  color: $gary-light;
}
.item3{
  color:$accent;
}
.formitem{
  color: $gary-dark;;
}