@import '../../index.scss';
.teacher-bar {
    //   按鈕樣式 上一張
    .swiper-button-prev {
        left: 0;
        color: #f2f2f2;
        width: 40px;
        height: 50px;
        top: 42%;
        background-color: #33333372;
        margin: 0;
    }

    //   按鈕樣式 下一張
    .swiper-button-next {
        right: 0;
        color: #f2f2f2;
        width: 40px;
        height: 50px;
        top: 42%;
        background-color: #33333372;
        margin: 0;
    }
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.teacher-h5 {
    color: $accent;
}
.teacher-p {
    color: $gary-dark;
}
