.myprofile_btn{
    width: 150px;;
}
.myprofile_table{
    width: 500px;
    height: 100px;
    
}
.myprofile_table tr{
    height: 60px;
}
.myprofile_table input{
    width: 100%;
}

.myprofile_table input:focus{
    outline:solid 2px #0099ff;
    width: 100%;
}