@import '../../../../styles/global.scss';

@media screen and (max-width: 768px) {
    .myBucketClassImg {
        width: 100%;
    }
    // .myBucketClassItem{
    //    max-height: 500px;
    // }
}
@media screen and (min-width: 768px) {
    .myBucketClassItem {
        height: 130px;
        // background-color: white;
    }
}

.myBucketListBtn {
    color: $main-light;
    border: 0px;
    border-bottom: 3px solid $main-light;
}

.active {
    color: $main;
    border: 0px;
    border-bottom: 5px solid $main;
}

.myBucketItem {
    height: 130px;
    background-color: white;
}
.myBucketClassItem {
    // height: 130px;
    background-color: white;
}

.myBucketImg {
    min-height: 130px;
    object-fit: cover;
    // border: 1px solid #ccc;//測試用記得拿掉
}

.myBucketItemIcon path {
    fill: $gary-dark;
}

.myBucketItemIcon {
    width: 20px;
    height: 20px;
}
.myBucketPage li {
    margin: 0 10px;
    cursor: pointer;
}
.pageArrowIcon path{
    stroke: $main-light;
    stroke-width: 3;
}
.pageArrowIcon{
    width: 15px;
    height: 15px;
    
}