@import '../../../../styles/global.scss';

@media screen and (max-width: 992px) {
    .myCartTable thead {
        display: none;
    }

    .myCartTable td {
        display: block;
    }

    .myCartTable td:before {
        content: attr(data-title);
        background-color: $main;
        color: $accent-light;
        display: block;
        font-weight: 500;
    }

    .myCartTableClass td:before {
        content: attr(data-title);
        background-color: $accent;
    }
    .myCart-Img{
        width:75%
    }

}

@media screen and (min-width:992px) {
    .myCart-Img {
        width: 100px;
        height: 100px;
    }

    .myCart-contain {
        object-fit: contain;
    }
}

.myCartPriceTitle {
    margin-right: 20px;
}

.myCartThWidth {
    width: 20%;
}

.myCartItemIconFav path {
    stroke: $gary-dark;
}

.myCartItemIconFav,
.myCartItemIcon {
    width: 25px;
    height: 25px;
}

.myCartItemIcon path {
    fill: $gary-dark;
}

.countBox {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 5px 12px;
}

// .listBottomLine {
//     border-bottom: 5px solid $main;
// }

//收件人資訊 & 訂購資訊 表單獨立設定
.titleBg {
    height: 38px;
    line-height: 38px;
}

.myCartSelectPadding {
    padding: 0 18px;
}
.myCartSelectMargin{
    margin-left: 85px;
}

.myCartMarginLeft {
    margin-left: 32px;
}

.orderBottomLine {
    border-bottom: 2px solid $accent;
}


// 收藏 icon
.CartFavorite{
    width: 25px;
    height: 25px;
}
  
.CartFavorite path {
    fill: #8a3731;
    stroke:  #8a3731;
}