.MyQuestion .Qtitle{
    min-width: 120px;
}
.MyQuestion .time{
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}
.MyQuestion .time2{

    text-align: right;
}
.MyQuestion .ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 200px;  */
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;

  }
.cssTable td 
{
    text-align: center; 
    /*垂直置中*/
    vertical-align: middle;
}
.MyQuestion .addbtn{
    padding: 0 10px;
    margin: 0 10px ;
    font-size: 14px;
    font-weight: 500;
    /* vertical-align: middle;
    display: inline-block; */
}

.MyQuestion{
    position: relative;
    margin-bottom: 40px;
}
.myQuestion_form{
    width: 100%;
    max-width: 600px;
    /* background-color: blueviolet; */
}
.myQuestion_form h6{
    margin: 5px 0;
    color: #00323d;
}
.myQuestion_form label{
    width: 100%;
    margin: 5px 0;
}

.myQuestion_form select{
    width: 100%;
    padding: 5px;
    border: 1px solid #767676; 
}
.myQuestion_form .option01{
    color:#767676;
}
.myQuestion_form input{
    width: 100%;
    padding: 5px;
    border: 1px solid #767676;
}
.myQuestion_form textarea{
    width: 100%;
    border: 1px solid #767676;
}
.myQuestion_form .btn1{
    width: 100px;
    height: 40px;
    background-color: #00323d;
    color: #ffff;
    border: 0;
}
.myQuestion_form .btn2{
    width: 100px;
    height: 40px;
    background-color: #5b322f;
    color: #ffff;
    border: 0;
    margin-left: 10px;
}
