.MyQuestion .Qtitle{
    min-width: 120px;
}
.MyQuestion .time{
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}
.MyQuestion .time2{

    text-align: right;
}
.MyQuestion .ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 200px;  */
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.reply_state{
    color: rgb(160, 0, 0);
}

.reply_state2{
    color: rgb(0, 104, 26);
}
.reply_state3{
    color: rgb(212, 175, 55);
}
.cssTable td 
{
    text-align: center; 
    /*垂直置中*/
    vertical-align: middle;
}
.MyQuestion .addbtn{ 
    color: white;
    background-color: #00323d;
    padding: 0 13px 0 5px;
    margin: 0 10px ;
    font-size: 14px;
    font-weight: 300;

    display: flex;
    justify-content: center;
    align-items: center;
    /* vertical-align: middle; */
    /* display: inline-block; */
}

.MyQuestionAdd .content{
    max-width: 700px;
}
.MyQuestionAdd .closebtn{
    /* border: 2px solid #00323d; */
    border: 2px solid #00000000;
    padding: 0;
    border-radius: 2px;
    /* box-shadow:10px 5px 5px black ; */
    transition: .3s;
}
.MyQuestionAdd .closebtn:hover{
    border: 2px solid #00323d;
    /* box-shadow:3px 3px 5px rgb(60, 60, 60) ; */
    /* position: relative; */
    /* transform: translate(-3px,-3px); */
    /* shadow: #3c3c3c; */
}
.myQuestion_form{
    width: 100%;
    max-width: 700px;
    /* background-color: blueviolet; */
}
.myQuestion_form h6{
    margin: 5px 0;
    color: #00323d;
}
.myQuestion_form label{
    width: 100%;
    margin: 5px 0;
}

.myQuestion_form select{
    width: 100%;
    padding: 5px;
    border: 1px solid #767676; 
}
.myQuestion_form .option01{
    color:#767676;
}
.myQuestion_form input{
    width: 100%;
    padding: 5px;
    border: 1px solid #767676;
}
.myQuestion_form textarea{
    width: 100%;
    border: 1px solid #767676;
}
.myQuestion_form .btn1{
    border: 0;
}
.myQuestion_form .btn2{
    padding: 10px 40px;

    background-color: #5b322f;
    color: #ffff;
    border: 0;
    margin-left: 10px;
}

.MyQuestionDetail .content{
    max-width: 650px;
    /* margin: 0 auto; */
    padding: 10px;
    border: 2px solid #767676;
    border-radius: 5px;
}
.MyQuestionDetail .maincontent{
    height: 350px;
    background-color:#e6e6e6 ;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.MyQuestionDetail .inputcontent{
    height: 50px;
    padding: 5px;
} 

.MyQuestionDetail .inputcontent:focus{
    border: transparent;
    outline: 2px solid cornflowerblue;
}

.MyQuestionDetail .btn1{
    margin: 5px 0;
    border: 0;
}
.MyQuestionDetail .addimgbtn{
    margin-left: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #616161;
}
.MyQuestionDetail .addimgbtn:hover{
    color: #00323d;
    /* border: 2px solid #00323d ;
    border-radius: 3px; */
}
.MyQuestionDetail .addimgmin{
    width: 40px;
    height: 40px;
    object-fit: cover;
}


.MyQuestionDetail .maincontent{
    min-height: 300px;
    background-color: #e6e6e6;
    /* overflow: auto; */
}
.MyQuestionDetail .textarea:focus{
    border: transparent;
    /* width: 100%; */
    outline: 2px solid cornflowerblue;
}
.MyQuestionDetail .btn1{
    border: 0;
    /* width: 100%; */
}
.MyQuestionDetail .closebtn{
     /* border: 2px solid #00323d; */
     border: 2px solid #00000000;
     padding: 0;
     border-radius: 2px;
     /* box-shadow:10px 5px 5px black ; */
     transition: .3s;
}
.MyQuestionDetail .closebtn:hover{
    border: 2px solid #00323d;
    /* box-shadow:3px 3px 5px rgb(60, 60, 60) ; */
    /* position: relative; */
    /* transform: translate(-3px,-3px); */
    /* shadow: #3c3c3c; */
}
.MyQuestionDetail .imgdiv{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}
.MyQuestionDetail .img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MyPlaceDetail .maincontent{
    height: 350px;
    background-color:#e6e6e6 ;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}
.MyPlaceDetail .btn1{
    margin: 5px 0;
    border: 0;
}
.MyPlaceDetail .inputcontent{
    height: 50px;
    padding: 5px;
} 

.MyPlaceDetail .inputcontent:focus{
    border: transparent;
    outline: 2px solid cornflowerblue;
}


@media screen and (max-width:768px) {
    .myQuestion_form .btn1{
        width: 100%;
    }
    .MyQuestionDetail .btn1{
        width: 100%;
    }
}