@import '../../index.scss';

.engText {
    font-family: 'Noto Serif Display', serif;
    color: $main;
}
.cursor-pinter {
    cursor: pointer;
}
.blank-top {
    margin-top: 20px;
}
.blank-top-art {
    margin-top: 36px;
}

.vector3 {
    border-top: 3px solid $main-light;
    width: 100%;
}
.vector4 {
    border-top: 3px solid $main-gary-light;
    width: 100%;
}
.vector1 {
    border-top: 1px solid $main-gary-light;
    width: 100%;
}

.important {
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: $accent;
    line-height: 25px;
    padding-left: 2px;
}
.Promotions {
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: $main;
    line-height: 25px;
    padding-left: 2px;
}
.Event {
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: $gary-light;
    line-height: 25px;
    padding-left: 2px;
}
.music-article {
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color: $main-light;
    line-height: 25px;
    padding-left: 2px;
}
.more-art {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 45px;
    margin-bottom: 20px;
}
.art-arrow {
    margin-top: 3px;
}
.session-bg {
    // height: 498px;
    background-color: $main-light;
    position: relative;
}
.session-bg .vector3 {
    border-top: 3px solid $main-gary-light;
    width: 863px;
}
.adult-course {
    position: absolute;
    margin-top: -50px;
    margin-left: 45px;
    color: $accent-light;
}
.classShadow {
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        pointer-events: none;
        background-image: linear-gradient(
            to bottom,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.009) 11.7%,
            hsla(0, 0%, 0%, 0.034) 22.1%,
            hsla(0, 0%, 0%, 0.072) 31.2%,
            hsla(0, 0%, 0%, 0.123) 39.4%,
            hsla(0, 0%, 0%, 0.182) 46.6%,
            hsla(0, 0%, 0%, 0.249) 53.1%,
            hsla(0, 0%, 0%, 0.32) 58.9%,
            hsla(0, 0%, 0%, 0.394) 64.3%,
            hsla(0, 0%, 0%, 0.468) 69.3%,
            hsla(0, 0%, 0%, 0.54) 74.1%,
            hsla(0, 0%, 0%, 0.607) 78.8%,
            hsla(0, 0%, 0%, 0.668) 83.6%,
            hsla(0, 0%, 0%, 0.721) 88.7%,
            hsla(0, 0%, 0%, 0.762) 94.1%,
            hsla(0, 0%, 0%, 0.79) 100%
        );
    }
    // transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.children-lessons {
    position: absolute;
    margin-top: -50px;
    margin-left: 45px;
    color: $accent-light;
}
.decorate1 {
    position: absolute;
    width: 30%;
    bottom: 0;
    left: -10px;
    object-fit: cover;
    // 不會擋到後面圖片的鼠標
    pointer-events: none;
    z-index: 500;
}
.decorate2 {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
    object-fit: cover;
    pointer-events: none;
    z-index: 500;
}
.decorate3 {
    position: absolute;
    width: 15%;
    bottom: -30px;
    right: 14%;
    object-fit: cover;
    pointer-events: none;
    z-index: 500;
}

@media screen and (max-width: 1200px) {
    .decorate1 {
        position: absolute;
        width: 35%;
        bottom: 0;
        left: -10px;
        object-fit: cover;
        pointer-events: none;
        z-index: 500;
    }
    .decorate2 {
        position: absolute;
        width: 35%;
        bottom: 0;
        right: 0;
        object-fit: cover;
        pointer-events: none;
        z-index: 500;
    }
    .decorate3 {
        position: absolute;
        width: 15%;
        bottom: -30px;
        right: 14%;
        object-fit: cover;
        pointer-events: none;
        z-index: 500;
    }
}
@media screen and (max-width: 992px) {
    .decorate2 {
        position: absolute;
        width: 70%;
        bottom: 0;
        right: 0;
        object-fit: cover;
        pointer-events: none;
        z-index: 500;
    }
}
@media screen and (max-width: 768px) {
    .adult-course {
        position: absolute;
        margin-top: -45px;
        margin-left: 20px;
        color: $accent-light;
    }
    .children-lessons {
        position: absolute;
        margin-top: -45px;
        margin-left: 20px;
        color: $accent-light;
    }
}
// loaders
.waveform {
    --uib-size: 40px;
    --uib-speed: 1s;
    --uib-color: #6a777a;
    --uib-line-weight: 3.5px;
    margin: 20% auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.9);
}

.waveform__bar {
    width: var(--uib-line-weight);
    height: 100%;
    background-color: var(--uib-color);
}

.waveform__bar:nth-child(1) {
    animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45)
        infinite;
}

.waveform__bar:nth-child(2) {
    animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3)
        infinite;
}

.waveform__bar:nth-child(3) {
    animation: grow var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15)
        infinite;
}

.waveform__bar:nth-child(4) {
    animation: grow var(--uib-speed) ease-in-out infinite;
}

@keyframes grow {
    0%,
    100% {
        transform: scaleY(0.3);
    }

    50% {
        transform: scaleY(1);
    }
}
