// 這裡導入所有要預設變數覆蓋
$primary:       #00323D;
$secondary:     #6A777A;
// 成功
$success:       #BABABA;
// 信息
$info:          $cyan !default;
// 警告
$warning:       $yellow !default;
// 危險
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// 全站都會使用的共同樣式
html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}