@import '../../../styles/global.scss';

.article-Breadcrumbs {
  font-size: 1rem;
  color: #00323d;
}

.article-word3 {
  font-size: 24px;
  font-weight: bold;
}


.article-vector5-Btn {
  color: $main-light;
  box-shadow: 0 4px;
  padding-bottom: 5px
}


.article-vector5-Btn-active {
  color: $main;
  border: 0px;
  border-bottom: 5px solid $main;
}

.article-img {
  // width: 100%;
  // height: 400px;
  // object-fit: cover;
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  
}

.article-img img {
  max-width: 100%;
  max-height: 100%;
}

.article-imgs {
  width: 426px;
  height: 260px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid;

}

.articles-img img {
  max-width: 100%;
  max-height: 100%;
}



.article-word {
  font-size: 1.5rem;
  color: #00323d;

}

.article-blank-top {
  margin-top: 20px;
}

.article-cursor-pinter {
  cursor: pointer;
}

.News-music-article {
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color:$main;
  color: $accent-light;
  line-height: 25px;
}


.News-music-article-color2{
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color:$gary-light ;
  color: $accent-light;
  line-height: 25px;
}

.News-music-article-color3 {
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color:$accent ;
  color: $accent-light;
  line-height: 25px;
}

.News-music-article-color4 {
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color:$main-light ;
  color: $accent-light;
  line-height: 25px;
}

.article-content{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: block;
  height: 2em;
  // line-height: 1em;
  // letter-spacing: 0;
  overflow: hidden;


}
.article-vector3 {
  border-top: 3px solid $main-light;
  width: 100%;
}

@media screen and (max-width: 768px) {


  .article-img {
    width: 100%;
    height: 100%;

   

  }

  // .article-imgs {
  //   width: 100%;
  //   height: 100%;
  //   
  // }

}