@import '../../../../../styles/global.scss';

@media only screen and (max-width: 992px) {
    //表頭none
    .myOrderDetailTable thead {
        display: none;
    }
    .detail-tbody tr td:nth-child(2),
    .detail-tbody tr td:nth-child(3),
    .detail-tbody tr td:nth-child(4),
    .detail-tbody tr td:nth-child(5) {
        display: none;
    }
    .detail-Img {
        display: none;
    }
}
.myOrderDetail-Icon {
    width: 60px;
    height: 60px;
}

.detailBorder {
    border-bottom: 2px solid $main;
    border-top: 2px solid $main;
}

.myOrderDetailBtn-Icon path {
    fill: $accent-light;
}
.myOrderDetailBtn-Icon {
    width: 25px;
    height: 25px;
}
.myOrderDetailTable {
    background-color: #fff;
}
.myOrderDetailAlertBtn {
    margin: 0 5px;
}
