@import '../../styles/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@600&display=swap');



//end //
.wrap {
  width: 1200px;
  margin: auto;
}

.item {
  // float: left;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  z-index: 0;

}

.txt{
  // float: right;
  z-index: 3;
}


.item .pic {
  width: 55%;
  flex-shrink: 0;

}

.item .pic img {

  vertical-align: middle;
}

.item .txt {
  // float:left;
  width: 55%;
  flex-shrink: 0;
  width: 500px;
  height: 80px;
  padding: 50px 30px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;

}

.item> :first-child {
  margin-right: -5%;
}

.item> :nth-child(1).txt {
  background-color: rgba(255, 255, 255, 0.168);


}

.item> :nth-child(2).txt {
  background-color: rgba(255, 255, 255, 0.168);

}

.item> :nth-child(3).txt {
  background-color: rgba(255, 255, 255, 0.168);

}

.second-img {
  margin-left: -6%;
}

.item-word {
  font-size: 24px;
  color: $main;
  position: relative;
  top: -40px;
  right: -80px;

}

.item-word2 {
  font-size: 24px;
  color: $accent-light;
  position: relative;
  top: -60px;
  left: 170px;
  white-space: nowrap;
}


.vector25 {
 
  position: relative;
  top: -30px;
  right: -5px;


}

.vector25-2 {

  position: relative;
  top: -30px;
  left: -80px;

}

.item-word3 {
  font-size: 24px;
  color: $main;
  position: relative;
  top: -40px;
  left: 10px;

}

.item-word4 {
  font-size: 24px;
  color: $accent-light;
  position: relative;
  top: -50px;
  left: 50px;
  white-space: nowrap;
}

.home-word {
  font-size: 24px;
  color: $accent;


}

.home-word2 {
  font-size: 20px;
  color: $gary-light;
}

.home-word3 {
  font-size: 20px;
  color: $accent-light;
  font-weight: bold;
}



.home-blank-top {
  margin-top: 50px;
}

// .home-blank {
//   margin-top: 300px;
// }

.home-vector3 {
  border-top: 3px solid $main-light;
  width: 100%;
}

.home-engText {
  font-family: 'Noto Serif Display', serif;
  color: $main;
}

.home-cursor-pinter {
  cursor: pointer;
}

.home-word4 {
  font-size: 1.5rem;
  color: #00323d;

}

@media screen and (max-width:768px) {
  .home-word {
    font-size: 24px;
    color: $accent;
    position: relative;
    bottom: 0px
  }

  .item-img {
    width: 100%;
  }

  .wrap {
    width: 100%;
  }


}



.note3{
  position:relative;
  left:1200px;
  bottom:-40px;

}


.note6{
position:relative;
left:1260px;
bottom:-60px;

}
.note4{
  position:relative;
  left:1180px;
  bottom:-20px;

}

.note8{
  position:relative;
  right:110px;
  bottom:-10px;

}

.note9{
  position:relative;
  right:80px;
  bottom:-10px;

}
