@import '../../styles/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@600&display=swap');




.item-word {
  font-size: 24px;
  color: $main;
  position: absolute;
  top: 5px;
 left: 130px;

}

.item-word2 {
  font-size: 24px;
  color: $accent-light;
  position: absolute;
  top: 50px;
  left: 175px;
  white-space: nowrap;
}


.vector25 {
  position: absolute;
  top: 20px;
  left: 130px;


}



.item-word3 {
  font-size: 24px;
  color: $main;
  position: absolute;
  top: 5px;
 left: 20px;

}

.item-word4 {
  font-size: 24px;
  color: $accent-light;
  position: absolute;
  top: 50px;
  left: 75px;
  white-space: nowrap;
}

.vector25-2 {
  position: absolute;
  top: 20px;
  left: 30px;


}

.home-word {
  font-size: 24px;
  color: $accent;
  z-index: 80;



}

.home-word2 {
  font-size: 20px;
  color: $gary-light;
  z-index: 80;
}

.home-word3 {
  font-size: 20px;
  color: $accent-light;
  font-weight: bold;
  z-index: 80;
}



.home-blank-top {
  margin-top: 30px;
}


.home-blank-top2 {
  margin-top: 60px;
}

.home-blank-top3 {
  margin-top: 110px;
}




.home-vector3 {
  border-top: 3px solid $main-light;
  width: 100%;
}

.home-engText {
  font-family: 'Noto Serif Display', serif;
  color: $main;
}

.home-cursor-pinter {
  cursor: pointer;
}

.home-word4 {
  font-size: 1.5rem;
  color: #00323d;

}

@media screen and (max-width:768px) {
  .home-word {
    font-size: 16px;
    color: $accent;
    position: relative;
    bottom: 0px
  }

  .home-word2 {
    font-size: 16px;
    color: $gary-light;
  }
  
  .home-word3 {
    font-size: 16px;
    color: $accent-light;
    font-weight: bold;
  }
  
  

  .item-img {
    width:100%;
 
  }



 .home-blank-top2 {
  margin-top: 20px;
}

}


.note3{
  position:relative;
  left:1200px;
  bottom:-40px;

}


.note6{
position:relative;
left:1260px;
bottom:-60px;

}
.note4{
  position:relative;
  left:1180px;
  bottom:-20px;

}

.note8{
  position:relative;
  right:110px;
  bottom:-10px;

}

.note9{
  position:relative;
  right:80px;
  bottom:-10px;

}


//視差捲動

.pushed-wrapper {
	position: relative;
}

.pushed-content {
	position: relative;
	padding: 15px 15px 40px 15px;

 
}



.pushed-box{
  position: absolute;
  left: 45%;
  top: 50%;
  // max-width: 50%;
  transform: translateY(-50%);
  background:  #f2f2f244;
  height: 90px;
  width: 700px;
  
}



.pushed-box2 {
  position: absolute;
  right: 1%;
  top: 30%;
  transform: translateY(-50%);
  height: 90px;
  width: 700px;
  
}

.pushed-box4 {
  position: relative;
  right: -1%;
  bottom: 30%;
  // max-width: 50%;
  transform: translateY(50%);
  height: 90px;
  width: 700px;
  background:  #f2f2f244;
  z-index:10;
  
}


.parallax{
  background: url('../../assets/HomeImg/service-item4-2.jpg') repeat fixed 100%;
  background-size: cover;
  color: aliceblue;
  height:300px; 
}

.parallax-inner{
  padding-top:6%;
  // padding-bottom: 60%;
}

.scroll-word{
  font-size: 25px;
  text-align: center;
  
}

//1400px縮放調整
@media (max-width: 1400px) {
  .pushed-box {
		position: absolute;
		left: 5%;
		top: 50%;
		width: 80%;
		// transform: translateY(-50%);
    background:  #f2f2f244;
    height: 90px;
   
 
    
	}
  .home-blank-top4{
    margin-top: 30px;
  }
  


    
  }


@media (max-width: 768px) {
  .pushed-box {
		position: absolute;
		left: 5%;
		top: 50%;
		width: 80%;
		transform: translateY(-50%);
    background:  #f2f2f244;
    height: 90px;
   
    
	}

	.pushed-box3{
		position: absolute;
		left: 5%;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
    background:  #f2f2f244;
    height: 90px;
   
   
	}

  .pushed-box5 {
    position: relative;
    right: -1%;
    bottom: 30%;
    // max-width: 50%;
    transform: translateY(50%);
    height: 90px;
    width:100%;
    background:  #f2f2f244;
    
    
  }

  .parallax2{
    background: url('../../assets/HomeImg/service-item4-2.jpg') repeat fixed 100%;
    background-size: cover;
    color: aliceblue;
    height:180px; 
  }
  

  .scroll-word2{
    font-size: 15px;
    text-align: center;
    margin: 30px 50px;
  }

  .home-blank-top4{
      margin-top: 30px;
    }
    
  }

  .News-music-article-color4 {
    width: 70px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    background-color:$main-light ;
    color: $accent-light;
    line-height: 25px;
  }