@import '../../../index.scss';

.AdultDetailed-img01 {
    width: 615px;
    height: auto;
    max-width: 100%;
    // position: relative;
}
.AdultDetailed-img02 {
    width: 141px;
    height: auto;
    max-width: 100%;
}

.AdultDetailed-vector1 {
    border-top: 3px solid $main-light;
    width: 468px;
}

.AdultDetailed-line-height {
    line-height: 36px;
}

.AdultDetailed-price0 {
    color: #5b322f;
}
.AdultDetailed-price {
    margin-top: 13px;
    color: #5b322f;
}
.AdultDetailed-btn {
    height: 58px;
}
.AdultDetailed-btn:hover {
    background-color: $main;
}

.detailed-arrow-left {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $gary-light;
    text-align: center;
}
.detailed-arrow-right {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    background-color: $gary-light;
    text-align: center;
}

.vector5-Btn {
    color: $main-light;
    border: 0px;
    border-bottom: 3px solid $main-light;
}
.vector5-Btn-active {
    color: $main;
    border: 0px;
    border-bottom: 5px solid $main;
}
.detailed-vector {
    border-top: 3px solid $main-light;
    width: 100%;
}
.classDetail-note {
    right: -13px;
    top: 5px;
}
.card {
    transition: 0.5s;
}
.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.4);
}
