.productDetail-line-height {
  line-height: 3rem;
}

.product-color-box{
  width: 25px;
  height: 25px;
}

.fw-400 {
  font-weight: 400;
}

.productDetail-price-letter-spacing {
  letter-spacing: 0;
}

.product-purchase-quantity {
  font-size: 1.5rem;
  width: 80px;
  height: 50px;
  border-color: #BABABA;
}

.product-purchase-quantity > h4{
  line-height: 45px;
}

.productDetail-btn {
  height: 58px;
}

.productDetail-vector {
  height: 3px;
  width: 100%;
}

.productDetail-description {
  line-height: 2rem;
  text-align: justify;
}

.productDetail-note {
  right: 250px;
  top: 125px;
}

.align-items-stretch {
  align-items: stretch;
}