.favorite-box {
  width: 40px;
  height: 40px;
}

.favorite-box:hover {
  .favorite-icon-color path {
    fill: #8a3731;
  }
}


.favorite-icon-color path {
  fill: #8a3731;
}

.favorite-icon-size {
  margin-top: 1px;
  width: 35px;
  height: 35px;
}

