@import '../../styles/global.scss';

.News-Breadcrumbs {
  font-size: 1rem;
  color: #00323d;
}

.News-word {
  font-size: 1.5rem;
  color: #00323d;

}

// .News-words{
// font-size: 18px;
// font-weight: bold;
// }

.News-engText {
  font-family: 'Noto Serif Display', serif;
  color: $main;
}

.News-cursor-pinter {
  cursor: pointer;
}

.News-blank-top {
  margin-top: 20px;
}

.News-vector3 {
  border-top: 3px solid $main-light;
  width: 72rem;
}

.News-music-article {
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: $gary-light;
  color: $accent-light;
  line-height: 25px;
}

.News-cursor-pinter {
  cursor: pointer;
}

.News-word2 {
  margin-top: -35px;
}

.News-music-article2 {
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: $main-light;
  color: $accent-light;
  line-height: 25px;
}

.News-music-article3 {
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: $accent;
  color: $accent-light;
  line-height: 25px;
}

.News-music-article4 {
  width: 70px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  background-color: $main;
  color: $accent-light;
}

.News-more-art {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 45px;
  margin-bottom: 20px;
}

.News-art-arrow {
  margin-top: 3px;
}

@media screen and (min-width: 1405px) {
  .News-blank-art-left {
    margin-left: -35px;

    .News-article-left {
      margin-left: -30px;


    }
  }
}


.News-word3 {
  font-size: 24px;
  font-weight: bold;
}

.News-vector5-Btn {
  color: $main-light;
  border: 0px;
  border-bottom: 3px solid $main-light;
}

.News-vector5-Btn-active {
  color: $main;
  border: 0px;
  border-bottom: 5px solid $main;
}



@media screen and (max-width: 768px) {
  .News-imgs {
    width: 100%;
    height: 100%;
  }

  .News-word3 {
    font-size: 18px;
    font-weight: bold;
  }

}