@import '../../../../styles/global.scss';

ul.category-navbar {
  padding: 0;
}

ul.product-sub-category {
  padding-left: 1.2rem;
}

ul > li {
  list-style: none;
  font-size: 1rem;
}

ul > li:hover {
  cursor: pointer;
}

.category-navbar {
  line-height: 2rem;
}

.product-main-category {
  color: $accent;
  font-weight: bold;
  margin: .5rem 0;
  padding-left: 1rem;
  border-left: transparent solid 3px;
  transition: .3s;
}

.product-main-category:hover {
  color: $main;
  border-left: $main solid 3px;
}

.product-main-category-active {
  color: $main;
  border-left: $main solid 3px;
}