@import '../../../../styles/global.scss';

ul.products-page {
  margin: 0;
  padding: 0;
}

.products-page > ul > li {
  color: $main-light;
  font-size: 1.2rem;
  margin: 5px;
  padding: 5px;
}

.products-page {
  color: $main-light;
}

li.products-page-active {
  color: $main;
}

.products-banner-title {
  top: 80px;
  right: 350px;
}
