@import '../../../../styles/global.scss';

.price {
  font-size: 1.1rem;
  font-weight: bold;
}

.product-icon {
  width: 1.15rem;
  height: 1.15rem;
}

.favorite-icon {
  width: 1.8rem;
  height: 1.8rem;
}

.product-img {
  height: 230px;
  overflow: hidden;
}

.img-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: .4s;
}

.product{
  // height: 250px;
  padding: 0;
  margin: 10px 0;
}

.product:hover .img-mask{
  content:"";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  position:absolute;
  top: 0;
  left: 0;
}

.compare {
  opacity: 0;
  color: $accent-light;
  width: 4rem;
  padding: 1px;
  background: $main-light;
  cursor: pointer;
  transition: .4s;
}

.like {
  opacity: 0;
  padding: 1px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cart-check-btn {
  opacity: 0;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}

.product:hover .compare {
  opacity: 1;
}

.product:hover .like {
  opacity: 1;
}

.product:hover .cart-check-btn {
  opacity: 1;
}

.cover-fit{
  object-fit: cover;
}

.compare:hover {
  background: lighten($main-light,10%);
}


.product-name {
  margin-top: 5px;
  margin-bottom: 0;
}

.price {
  margin-bottom: 0;
}
