@import '../../index.scss';

// .scroll-blank-top{
//   padding-bottom: 80%;
// }
// 大圖
.home-images-slider {

  // 容器
  .swiper-slide {
    padding-top: 40%;
    overflow: hidden;
    position: relative;
    // bottom: 100px;

    // 圖片
    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: 'auto';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: .3s;
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 40%;
    // height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width:768px) {

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  .swiper-slide:hover {
    img {
      transform: scale(1.2);
    }
  }

  //   按鈕樣式 上一張
  .swiper-button-prev {
    left: 0;
    color: #f2f2f2;
    width: 40px;
    height: 50px;
    background-color: #33333372;
    margin: 0;
  }

  //   按鈕樣式 下一張
  .swiper-button-next {
    right: 0;
    color: #f2f2f2;
    width: 40px;
    height: 50px;
    background-color: #33333372;
    margin: 0;
  }
}



.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem;
}

@import '../../../node_modules/swiper/swiper.scss';