@import '../../index.scss';


.mySwiper {
  width:100%;
  height: 500px;
}



.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  //   按鈕樣式 上一張
  .swiper-button-prev {
    left: 0;
    color: #f2f2f2;
    width: 40px;
    height: 50px;
    background-color: #33333372;
    margin: 0;
  }

  //   按鈕樣式 下一張
  .swiper-button-next {
    right: 0;
    color: #f2f2f2;
    width: 40px;
    height: 50px;
    background-color: #33333372;
    margin: 0;
  }



  .swiper-pagination-bullet{
    border-radius: 0%;
    width: 30px;
    height: 8px;
    background-color:white;


  }

.swiper-pagination-bullet-active{
    background-color: $accent;
  
  }
  

  .swiper-pagination.swiper-pagination-1{
    position: relative;
    bottom: -1rem;
   
    


    
  }

  @media screen and (max-width:768px)
   {
    .mySwiper {
      width:100%;
      height: 100%;
    }
  
      //   按鈕樣式 上一張
  .swiper-button-prev {
    left: 0;
    color: #f2f2f2;
    width: 30px;
    height: 30px;
    background-color: #33333372;
    margin: 0;
  }

  //   按鈕樣式 下一張
  .swiper-button-next {
    right: 0;
    color: #f2f2f2;
    width: 30px;
    height: 30px;
    background-color: #33333372;
    margin: 0;
  }

  .swiper-pagination.swiper-pagination-1{
    position: relative;
    bottom: -0.5rem;
    left: -8rem;

    
  }
     
    }


// .swiper-button-next {
//       display: none;
//     }
// .swiper-button-prev{
//   display: none;
// }



.slider-titles{
  position:relative;
  right:420px;
  // top: 150px;
 
  
}