@import '../../../../styles/global.scss';

@media only screen and (max-width: 992px) {
    .myOrderTable thead {
        display: none;
    }

    .myOrderTable td:nth-child(1) {
        display: none;
    }

    .myOrderTable td:nth-child(2) {
        display: block;
    }

    .myOrderTable td {
        display: inline;
    }
    .myOrderTable td,
    .myOrderTable th {
        border: none;
    }

    //訂單編號title
    .myOrderTable td:nth-child(2)::before {
        content: attr(data-title);
        background-color: $main;
        color: $accent-light;
        display: block;
        text-align: start;
        padding: 5px 15px;
    }

    .myOrderTable td::before {
        content: attr(data-title);
        color: $main;
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .myOrderTable{
        background-color: #ffffff;
    }
}

.myOrderIcon path {
    fill: $main;
}

.myOrderIcon {
    width: 25px;
    height: 25px;
}

.myOrderThWidth {
    width: 12%;
}

.myOrder-Img {
    width: 90px;
    height: 90px;
}
.myOrder-contain {
    object-fit: contain;
}

.myOrderDetail-closeBtn{
    border: 2px solid #00000000;
    padding: 0;
    border-radius: 2px;
    transition: .3s;
}
.myOrderDetail-closeBtn:hover{
    border: 2px solid #00323d;
}

.myOrderTable .icon{
    width: 25px;
    height: 25px;
}
.replystyle1{
    background-color: #6a777a;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border-radius: 2px;
    padding: 1px 5px;
    margin-left: 3px;
}
.replystyle2{
    background-color: #00323d;
    color: white;
    font-size: 12px;
    font-weight: 300;
    border-radius: 2px;
    padding: 1px 5px;
    margin-left: 3px;
}
