.MemberListMobile select{
    width: 100%;
    padding: 10px;
    font-size: 24px;
    color: azure;
    background-color: #6A777A;
    outline-color: #0099ff;
}
.MemberListMobile select option{
    font-size: 24px;
}
.MemberListBg{
    background: url("../../../../assets/svg/mobile_list_bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.MemberListMobile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}