@import '../../index.scss';

.share {
    color: $main;
}
.share:hover {
    color: $main-light;
}

.collect {
    color: $main;
}
.collect:hover {
    color: $main-light;
}

.plus-icon-color {
    color: #00323d;
}

.plus-icon-size{
    font-size: 30px;
}
