.shoppingCart{
    background-color: rgb(255, 255, 255);
    /* width: 100px; */
    /* height: 200px; */
    position:  absolute;
    right: 0;
}
.shoppingCartTitle{
    border-bottom: 1px solid #00323d;
}
.shoppingCartItem{
    border-bottom: 1px solid  #bababa;
}
.checkOutBtn{
    width: 100%;
    color: #fff;
}
/* 修改 svg icon */
.checkOutIcon path{
    fill: #f2f2f2;
}
.checkOutIcon{
    width: 20px;
}
.overflow-auto{
    max-width: 500px;
    overflow: auto;
}