@import '../../styles/global.scss';
.Cart-bg {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:  transparent;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shoppingCart {
    width: 350px;
    // height: 80%;
    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 5;
}

.shoppingCartTitle {
    border-bottom: 1px solid $main;
}

.shoppingCartItem {
    border-bottom: 1px solid $main-gary-light;
}
.shoppingCartItemImg{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.checkOutBtn {
    width: 100%;
    color: $accent-light;
    background: $main;
}

.checkOutBtn:hover {
   color: $accent-light;
   background: #002a33;
}

/* 修改 svg icon */
.checkOutIcon path {
    fill: $accent-light;
}

.checkOutIcon {
    width: 20px;
    height: 20px;
}

.scrollStyle {
    /* height 可以自行修改 只為了產生卷軸加的 */
    max-height: 680px;
}

/* 捲軸底色 */
.scrollStyle::-webkit-scrollbar-track {
    background-color: #fff;
}
/* 捲軸寬度 */
.scrollStyle::-webkit-scrollbar {
    width: 5px;
}
/* 捲軸本體顏色 */
.scrollStyle::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}