@import '../../styles/global.scss';

.products-banner-img {
  height: 260px;
  overflow: hidden;
}

.compare-quantity {
  width: 25px;
  height: 25px;
  background: $accent;
  color: $accent-light;
  font-size: 1rem;
  position: fixed;
  right: 80px;
  bottom: 55px;
  border-radius: 50%;
  text-align: center;
}

.compare-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 70px;
  bottom: 0;
}


