@import '../../styles/global.scss';

.products-banner-img {
  height: 260px;
  overflow: hidden;
}

.products-page > a {
  color: $main-light;
  font-size: 1.2rem;
  margin: 0 5px;
}

a.products-page-active {
  color: $main;
}

.products-banner-title {
  top: 80px;
  right: 350px;
}



