@import '../../styles/global.scss';

.height{
  height:100px;
}

.header-word{
  font-size: 1.15rem;
  margin:20px ;
  
}
.cart-img{
  margin: 12px;
}

@media screen and (max-width:1400px) {
  .header-word{
    font-size: 1rem;
    margin:10px;
    
  }
  .cart-img{
    margin: 2px;
  }
 

  
}

