@import '../../../index.scss';

.filter-active {
  position: absolute;
  width: 130px;
  // height: 181px;
  background-color: $main-light;
  top: 40px;
  left: -15px;
}
.filter-btn-class {
  background: $main-gary-light;
  color: $main;
  padding: 5px;
  letter-spacing: 0.1rem;
  width: 100px;
}
.select-class{
  width: 100px;
}
.sort-active {
  position: absolute;
  width: 130px;
  background-color: $main-light;
  top: 40px;
  left: -8px;
}
.sort-menu-class {
  background: $main-light;
  left: 110px;
  top: 40px;
  z-index: 3;
  color: $accent-light;
}
ul > li {
  list-style: none;
  font-size: 1rem;
}
.z-index {
  z-index: -1;
}
.vector3-main-light {
  border-top: 3px solid $main-light;
  width: 1260px;
  position: relative;
}
.vector5-active-left {
  border-top: 5px solid $main;
  width: 630px;
  position: absolute;
  margin-top: 12px;
}
.vector5-active-right {
  border-top: 5px solid $main;
  width: 630px;
  margin-left: 630px;
  position: absolute;
  margin-top: 12px;
}
.pages {
  display: inline-block;
  margin: 2px;
  border-width: 1px;
  width: 28px;
  height: 28px;
  text-align: center;
}
