@import '../../index.scss';

// 字級 end ----------------------


.session1-bg{
  height: 508px;
  background: $main-light;
}
.session2-bg{
  height: 617px;
  background: #bababa;
}
.engText {
  font-family: 'Noto Serif Display', serif;
}

.session1-bg .vector3 {
  border-top: 3px solid #f2f2f2;
  width: 863px;
}

.infotitle {
  background: $main-light;
  color:#f2f2f2
}

.founder {
  background: rgb(107, 99, 99);
  width: 220px;
  height: 220px;
}