@import '../../index.scss';

// 字級 end ----------------------


.engText {
  font-family: 'Noto Serif Display', serif;
}

.vector1 {
  border-top: 3px solid $accent-light;
  border-width: 100%;
}
.vector2 {
  border-top: 3px solid #6a777a;
  border-width: 100%;
}
.vector3 {
  border-top: 3px solid $gary-light;
  border-width: 100%;
}


.infotitle {
  background: $main-light;
  color:#f2f2f2
}

.founder {
  background: rgb(107, 99, 99);
  width: 220px;
  height: 220px;
}