@import '../../index.scss';

// 字級 end ----------------------


.engText {
  font-family: 'Noto Serif Display', serif;
}

.vector1 {
  border-top: 3px solid $accent-light;
  border-width: 100%;
}
.vector2 {
  border-top: 3px solid #6a777a;
  border-width: 100%;
}
.vector3 {
  border-top: 3px solid $gary-light;
  border-width: 100%;
}
.brand {
  // padding-top: 40px;
  // padding-bottom: 60px;
  height: 370px;
}
.brand h6{
  padding: 0px;
  font-weight: 100;
}

.brandconcept{
  background-color: #6A777A;

}




.infotitle {
  background: $main-light;
  color:#f2f2f2
}

.intropic{
  font-size: 32px;
  padding: 0;
  margin-top: 80px;
}
.intropic img{
  width: 100%;
}
.intropic h6{
  color:  #ffffff;
  font-weight: 100;
}

.imgho{
  opacity: 0;
  top: 0;
  left: 0;
  transition: 1s;
}

.imgho:hover{
  opacity: 1;
}

.intropic .item1{
  position: absolute;
  width: 80%;
  bottom:0;
  left: 50%;
  transform: translate(-50%,0);
}


.teachtext{
  background-color: rgb(53, 84, 91,0.6);

}

.coursetext{
  background-color: rgb(51, 51, 51,0.6);

}
.placetext{
  background-color: rgb(91, 50, 47,0.6);

}



.askform input,.askform select, .askform textarea{
  border: 2px solid #8f8989;
  padding: 8px;
  outline-color:#686868
}

.askform button:hover{
  color: #00323d;
}

.error{
  color: rgb(241, 13, 13);
  margin:0 10px;
}

input:disabled {
  background: rgb(206, 206, 206);
}


@media screen and (max-width:1400px) {
  //xxl
}
@media screen and (max-width:1200px) {
  //xl

}
@media screen and (max-width:992px) {
  //lg

}
@media screen and (max-width:768px) {
  //md

}
@media screen and (max-width:576px) {
  //sm
}